body {
    background-color: rgb(228, 211, 188);

}



.cabecalho {
    background-color: #F8BBD0;
    color: #4A148C;
    padding: 15px 379px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Georgia', serif;
    font-size: 1.4em;
    border-bottom: 5px solid #b119a9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cabecalho a {
    color: #4A148C;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.cabecalho a:hover {
    color: #E91E63;
}







.divisoria {
    text-align: center;
    margin-top: 10dvh;
}

.botoes {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50%;
    margin: 80px;
}




#titulo {
    color: #cf288f;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    margin: 0;
}


.imgcentro {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


li {
    display: inline-block;


}

li a {
    font-size: 50px;

}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}