body {
    background-color: rgb(228, 211, 188);

}

.cabecalho {
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}


.divisoria {
    text-align: center;
    margin-top: 10dvh;
}

.botoes {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50%;
    margin: 80px;
}

#titulo {
    color: #cf288f;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    margin: 0;
}

p {}

.imgcentro {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

nav {}

li {
    display: inline-block;


}

li a {
    font-size: 50px;

}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}