body {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-aquarela-rosa-detalhado-pintado-a-mao_1048-17039.jpg?semt=ais_incoming&w=740&q=80");
    

}



.cabecalho {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-aquarela-rosa-detalhado-pintado-a-mao_1048-17039.jpg?semt=ais_incoming&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    color: #4A148C;
    padding: 30px 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    border-bottom: 3px solid #b119a9;
    box-shadow: 0 2px 4px rgba(206, 117, 214, 0.1);
}

.cabecalho a {
    color: #4A148C;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.cabecalho a:hover {
    color: #E91E63;
}


.divisoria {
    text-align: center;
    margin-top: 10dvh;
}

.botoes {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50%;
    margin: 80px;
}




#titulo {
    color: #cf288f;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    margin: 0;
}


.imgcentro {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50%;
    margin: 80px;
}


li {
    display: inline-block;


}

li a {
    font-size: 50px;

}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}